* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-tat.pc.in -text
/apertium-tat.tat.lexc -text
/apertium-tat.tat.rlx -text
/apertium-tat.tat.twol -text
/autogen.sh -text
/configure.ac -text
dev/countstems.sh -text
dev/editdist.py -text
dev/extract_guesses.sh -text
dev/metrics.rlx -text
eval/Makefile -text
eval/evaluate-morph.py -text
/modes.xml -text
speller/editdist.default.txt -text
speller/index.xml -text
speller/strings.default.txt -text
speller/words.default.txt -text
tests/morphophonology/epenthesis.yaml -text
tests/morphophonology/prn-pers.yaml -text
tests/morphophonology/surface_epenthesis.yaml -text
tests/morphophonology/w-phon.yaml -text
tests/morphophonology/word-final-j.yaml -text
tests/morphophonology/y-ligatures.yaml -text
tests/morphophonology/ь.yaml -text
tests/numerals/collective.yaml -text
tests/numerals/numerals.yaml -text
tests/numerals/percents.yaml -text
texts/cg/story.tat.cg.txt -text
texts/story.tat.txt -text svneol=unset#application/octet-stream
