* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-tat.pc.in -text
/apertium-tat.post-tat.dix -text
/apertium-tat.tat.lexc -text
/apertium-tat.tat.rlx -text
/apertium-tat.tat.twol -text
/autogen.sh -text
/configure.ac -text
corpus/corpus.ana.txt -text
/coverage.txt -text
dev/Qurbanqaliev_Gazizov_Kuliev_1931_tat_rus.djvu -text
dev/countstems.sh -text
dev/coverage.sh -text
dev/coverage.txt -text
dev/editdist.py -text
dev/extract_guesses.sh -text
dev/mansur.bin -text
dev/mansur.rlx -text
dev/metrics.rlx -text
dev/spellrelax.twol -text
dev/testcorpus.txt -text
eval/Makefile -text
eval/archive/ref.1010.txt -text
eval/archive/src.1010.txt -text svneol=unset#application/octet-stream
eval/create-words.sh -text
eval/eval-of-eval.txt -text
eval/evaluate-morph.py -text
eval/history.log -text
eval/ref.1000.txt -text
eval/src.1000.txt -text svneol=unset#application/octet-stream
expanded/README -text
expanded/current-state.txt.gz -text svneol=unset#unset
expanded/previous-state.txt.gz -text svneol=unset#unset
/modes.xml -text
/qa -text
/quality-stats.xml -text
/quality.aqx.in -text
speller/editdist.default.txt -text
speller/index.xml -text
speller/strings.default.txt -text
speller/words.default.txt -text
/tat.prob -text svneol=unset#unset
test-scripts/cg.test -text
test-scripts/tat.test -text
tests/morphophonology/E-phon.yaml -text
tests/morphophonology/V-ә-prc_impf.yaml -text
tests/morphophonology/epenthesis.yaml -text
tests/morphophonology/negative.yaml -text
tests/morphophonology/optative.yaml -text
tests/morphophonology/pending/diyerge.yaml -text
tests/morphophonology/pending/optative-1p.yaml -text
tests/morphophonology/surface_epenthesis.yaml -text
tests/morphophonology/w-phon.yaml -text
tests/morphophonology/word-final-j.yaml -text
tests/morphophonology/y-ligatures.yaml -text
tests/morphophonology/ь.yaml -text
tests/morphotactics/A1.txt.gz -text svneol=unset#unset
tests/morphotactics/ADV-ITG.txt.gz -text
tests/morphotactics/ADV-WITH-KI.txt.gz -text svneol=unset#unset
tests/morphotactics/ADV.txt.gz -text svneol=unset#unset
tests/morphotactics/COP-I.txt.gz -text svneol=unset#unset
tests/morphotactics/Makefile -text
tests/morphotactics/N-COMPOUND-PX.txt.gz -text svneol=unset#unset
tests/morphotactics/N1-RUS.txt.gz -text svneol=unset#unset
tests/morphotactics/N1.txt.gz -text svneol=unset#unset
tests/morphotactics/NUM-ITG.txt.gz -text svneol=unset#unset
tests/morphotactics/NUM-ROMAN.txt.gz -text svneol=unset#unset
tests/morphotactics/NUM.txt.gz -text svneol=unset#unset
tests/morphotactics/PRON.txt.gz -text svneol=unset#unset
tests/morphotactics/README -text
tests/morphotactics/V-TV-IR.txt.gz -text svneol=unset#unset
tests/morphotactics/prefixes/A1.prefix.dix -text
tests/morphotactics/prefixes/ADV-ITG.prefix.dix -text
tests/morphotactics/prefixes/ADV.prefix.dix -text
tests/morphotactics/prefixes/N-COMPOUND-PX.prefix.dix -text
tests/morphotactics/prefixes/N1-RUS.prefix.dix -text
tests/morphotactics/prefixes/N1.prefix.dix -text
tests/morphotactics/prefixes/PRON.prefix.dix -text
tests/morphotactics/prefixes/V-TV-IR.prefix.dix -text
tests/morphotactics/prn-pers.yaml -text
tests/numerals/collective.yaml -text
tests/numerals/numerals.yaml -text
tests/numerals/percents.yaml -text
/words_mansur.txt -text
