* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-tat.pc.in -text
/apertium-tat.tat.lexc -text
/apertium-tat.tat.rlx -text
/apertium-tat.tat.twol -text
/autogen.sh -text
/configure.ac -text
dev/countstems.sh -text
dev/editdist.py -text
dev/extract_guesses.sh -text
dev/metrics.rlx -text
eval/Makefile -text
eval/archive/ref.1010.txt -text
eval/archive/src.1010.txt -text svneol=unset#application/octet-stream
eval/create-words.sh -text
eval/eval-of-eval.txt -text
eval/evaluate-morph.py -text
eval/history.log -text
eval/ref.1000.txt -text
eval/src.1000.txt -text svneol=unset#application/octet-stream
/modes.xml -text
speller/editdist.default.txt -text
speller/index.xml -text
speller/strings.default.txt -text
speller/words.default.txt -text
/tat.prob -text svneol=unset#unset
tests/morphophonology/E-phon.yaml -text
tests/morphophonology/V-ә-prc_impf.yaml -text
tests/morphophonology/diyerge.yaml -text
tests/morphophonology/epenthesis.yaml -text
tests/morphophonology/negative.yaml -text
tests/morphophonology/optative.yaml -text
tests/morphophonology/surface_epenthesis.yaml -text
tests/morphophonology/w-phon.yaml -text
tests/morphophonology/word-final-j.yaml -text
tests/morphophonology/y-ligatures.yaml -text
tests/morphophonology/ь.yaml -text
tests/morphotactics/A1.txt.gz -text svneol=unset#unset
tests/morphotactics/Makefile -text
tests/morphotactics/N1.txt.gz -text svneol=unset#unset
tests/morphotactics/README -text
tests/morphotactics/V-TV-IR.txt.gz -text svneol=unset#unset
tests/morphotactics/prefixes/A1.prefix.dix -text
tests/morphotactics/prefixes/N1.prefix.dix -text
tests/morphotactics/prefixes/V-TV-IR.prefix.dix -text
tests/morphotactics/prn-pers.yaml -text
tests/numerals/collective.yaml -text
tests/numerals/numerals.yaml -text
tests/numerals/percents.yaml -text
