/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/apertium-tat.pc
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/tat.autogen.att.gz
/tat.autogen.bin
/tat.autogen.hfst
/tat.automorf.att.gz
/tat.automorf.bin
/tat.automorf.hfst
/tat.rlx.bin
